---
layout: docs
---
# Configuring

## Available options

There are various options you can use to customize the behaviour of the plugin:

* [`additionalPrecacheEntries`](/docs/nuxt/configuring/additional-precache-entries)
* [`base`](/docs/nuxt/configuring/base)
* [`devOptions`](/docs/nuxt/configuring/dev-options)
* [`disable`](/docs/nuxt/configuring/disable)
* [`dontCacheBustURLsMatching`](/docs/nuxt/configuring/dont-cache-bust-urls-matching)
* [`globDirectory`](/docs/nuxt/configuring/glob-directory)
* [`globFollow`](/docs/nuxt/configuring/glob-follow)
* [`globIgnores`](/docs/nuxt/configuring/glob-ignores)
* [`globPatterns`](/docs/nuxt/configuring/glob-patterns)
* [`globStrict`](/docs/nuxt/configuring/glob-strict)
* [`injectionPoint`](/docs/nuxt/configuring/injection-point)
* [`integration`](/docs/nuxt/configuring/integration)
* [`manifestTransforms`](/docs/nuxt/configuring/manifest-transforms)
* [`maximumFileSizeToCacheInBytes`](/docs/nuxt/configuring/maximum-file-size-to-cache-in-bytes)
* [`mode`](/docs/nuxt/configuring/mode)
* [`modifyURLPrefix`](/docs/nuxt/configuring/modify-url-prefix)
* [`plugins`](/docs/nuxt/configuring/plugins)
* [`rollupFormat`](/docs/nuxt/configuring/rollup-format)
* [`rollupOptions`](/docs/nuxt/configuring/rollup-options)
* [`scope`](/docs/nuxt/configuring/scope)
* [`swDest`](/docs/nuxt/configuring/sw-dest)
* [`swSrc`](/docs/nuxt/configuring/sw-src)
* [`swUrl`](/docs/nuxt/configuring/sw-url)
* [`templatedURLs`](/docs/nuxt/configuring/templated-urls)
* [`type`](/docs/nuxt/configuring/type)