# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.DS_Store
node_modules/
package/
.pnp/
.pnp.js

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# turbo
.turbo

# production
dist/
build/
.svelte-kit/
.next/
.nuxt/
out/
.vercel/
.output/
output/

# vscode
.vscode

# rollup
.rollup.cache

# envs
.env
.env.*
!.env.example

# vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# serwist
**/public/serwist**
**/public/sw**
**/public/worker**
**/public/fallback**
**/public/precache**