# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.DS_Store
node_modules/
package/
.pnp/
.pnp.js

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# turbo
.turbo

# production
dist/
examples/**/build/
docs/build/
.svelte-kit/
.next/
next-env.d.ts
.nuxt/
out/
.vercel/
.output/
output/

# vscode
.vscode

# rollup
.rollup.cache

# vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# serwist
__tests__/next/*/public/sw.js*
__tests__/next/*/public/swe-worker-*.js*
examples/next-*/public/sw.js
examples/next-*/public/swe-worker-*.js