---
layout: docs
---
<script>
  import Tabs from "$components/Tabs.svelte";
  import Tab from "$components/Tab.svelte";
</script>

# disable

## First added

`next-pwa`

## Default

`false`

## About

Whether Serwist should be disabled.

## Usage

<Tabs id="usage-example" tabs={[["next.config.mjs", "next-config-mjs"]]}>
  <Tab id="next-config-mjs">

```javascript
withSerwistInit({
  swSrc: "app/sw.ts",
  swDest: "public/sw.js",
  disable: true,
});
```

  </Tab>
</Tabs>
