---
layout: docs
---
# chunks

## First added

Workbox

## About

One or more chunk names whose corresponding output files should be included in the precache manifest.

## Usage

webpack.config.js 

```
new InjectManifest({
  chunks: ["chunk-1", "chunk-2"],
});
```

## More resources

Here is a list of resources you can read to learn more about `chunks`:

* [webpack's reference documentation on splitChunks.name](https://webpack.js.org/plugins/split-chunks-plugin/#splitchunksname)