---
layout: docs
---
# Configuring

## Available options

There are various options you can use to customize the behaviour of the plugin:

* `[additionalPrecacheEntries](/docs/vite/configuring/additional-precache-entries)`
* `[base](/docs/vite/configuring/base)`
* `[devOptions](/docs/vite/configuring/dev-options)`
* `[disable](/docs/vite/configuring/disable)`
* `[dontCacheBustURLsMatching](/docs/vite/configuring/dont-cache-bust-urls-matching)`
* `[globDirectory](/docs/vite/configuring/glob-directory)`
* `[globFollow](/docs/vite/configuring/glob-follow)`
* `[globIgnores](/docs/vite/configuring/glob-ignores)`
* `[globPatterns](/docs/vite/configuring/glob-patterns)`
* `[globStrict](/docs/vite/configuring/glob-strict)`
* `[injectionPoint](/docs/vite/configuring/injection-point)`
* `[integration](/docs/vite/configuring/integration)`
* `[manifestTransforms](/docs/vite/configuring/manifest-transforms)`
* `[maximumFileSizeToCacheInBytes](/docs/vite/configuring/maximum-file-size-to-cache-in-bytes)`
* `[mode](/docs/vite/configuring/mode)`
* `[modifyURLPrefix](/docs/vite/configuring/modify-url-prefix)`
* `[plugins](/docs/vite/configuring/plugins)`
* `[rollupFormat](/docs/vite/configuring/rollup-format)`
* `[rollupOptions](/docs/vite/configuring/rollup-options)`
* `[scope](/docs/vite/configuring/scope)`
* `[swDest](/docs/vite/configuring/sw-dest)`
* `[swSrc](/docs/vite/configuring/sw-src)`
* `[swUrl](/docs/vite/configuring/sw-url)`
* `[templatedURLs](/docs/vite/configuring/templated-urls)`
* `[type](/docs/vite/configuring/type)`